<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/static/jquery-3.6.0.js"></script>
    <script src="/static/jquery.js">

        {#$SCRIPT_ROOT = "/static/jquery-3.6.0.js";#}
    </script>
</head>
<body>
    <h1>jquery example</h1>
    <p>
        <input type="text" size="5" name="a"> +
        <input type="text" size="5" name="b">
        <span id="result">?</span>
    </p>
    <p><a href="#" id="calculate">calculate server side</a></p>

    <h1>jquery example 2</h1>
    <p>
        <input type="text" size="5" name="a2"> +
        <input type="text" size="5" name="b2">
        <span id="result2">?</span>
    </p>
    <p id="calculate2">calculate server side</p>
    <h1>load text</h1>
    <p id="action">click to load txt (async $.ajax) </p>
    <p id="text"></p>
    <p id="action2">click to load txt ($.post) </p>
    <p id="text2"></p>
</body>
</html>